*{
    padding: 0px;
    margin: 0px;
    border: none;
}

.d{
    position: absolute;

    top: 500%;

    width: 1px;
    height: 1px;
}

.MCA {
    /* ООО МСА Турбогенерация */

    position: absolute;

    left: 50%;
    top: 2%;
    transform: translate(-50%);


    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9.5vh;

    color: #FF6900;
    white-space: nowrap;
}

.logoMCA {
    position: absolute;

    left: 84.5%;
    top: 5%;

    width: 11vw;
}

.unicont {
    position: absolute;

    left: 84.568%;
    top: 16%;

    width: 11vw;
}

.Russia {
    position: absolute;

    width: 7.1vw;

    left: 75.8%;
    top: 13.3%;
}

.venture {
    /* Предприятие группы компаний */

    position: absolute;

    left: 83.7%;
    top: 21%;
    

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.85vw;

    color: #FF6900;
}

.NPK {
        /* Предприятие группы компаний */

        position: absolute;

        left: 83.6%;
        top: 24%;
        
    
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 0.85vw;
    
        color: #FF6900;
}


.specifications {
    position: absolute;

    top: 18%;
    left: 35%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.7vw;

    color: #000000;
}

.migT800 {
    position: absolute;

    top: 24%;
    left: 24%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4vw;

    color: #000000;
}

.d-button {
    position: absolute;

    width: 8vw;
    height: 4.2vh;

    top: 18%;

    left: 16%;

    cursor: pointer;

    z-index: 3;
}

.button3 {
    position: absolute;

    width: 100%;
    height: 100%;
}

.t-button {
    position: absolute;

    transform: translate(-50%,-50%);

    top: 50%;
    left: 50%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vh;

    color: #000000;
}

.table {
    position: absolute;

    width: 60vw;
    height: 2.6vh; 
}
.tab{
    top: 30%;
    left: 16%;

    background: #E6E7E9;
}

.t-left {
    position: absolute;

    transform: translate(0,-50%);

    top: 50%;
    left: .5%;

    width: 51.79vw;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000;
}

.t-right {
    position: absolute;

    transform: translate(-100%,-50%);

    top: 50%;
    left: 99.5%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000;

    text-wrap: nowrap;
}


.tab1{
    top: 33.7%;
    left: 16%;

    background: #FEE8D9;
}

.tab2{
    top: 37.4%;
    left: 16%;

    background: #E6E7E9;
}

.tab3{
    top: 41.1%;
    left: 16%;

    background: #FEE8D9;
}

.tab4{
    top: 44.8%;
    left: 16%;

    background: #E6E7E9;
}

.tab5{
    top: 48.5%;
    left: 16%;

    background: #FEE8D9;
}

.tab6{
    top: 52.2%;
    left: 16%;

    height: 5.5vh;

    background: #E6E7E9;
}

.tab7{
    top: 58.9%;
    left: 16%;

    background: #FEE8D9;
}

.tab8{
    top: 62.6%;
    left: 16%;

    background: #E6E7E9;
}

.tab9{
    top: 66.3%;
    left: 16%;

    background: #FEE8D9;
}

.tab10{
    top: 70%;
    left: 16%;

    height: 5.5vh;

    background: #E6E7E9;
}

.tab11{
    top: 76.5%;
    left: 16%;

    height: 5.5vh;

    background: #FEE8D9;
}

.tab12{
    top: 83.3%;
    left: 16%;

    height: 5.5vh;

    background: #E6E7E9;
}

.tab13{
    top: 90%;
    left: 16%;

    height: 5.5vh;

    background: #FEE8D9;
}

.tab14{
    top: 96.7%;
    left: 16%;

    height: 7.85vh;

    background: #E6E7E9;
}
.tabb {
    position: absolute;

    border-bottom: 1px solid #000;

    transform: translate(-100%);

    top: 0%;
    left: 100%;

    width: 4vw;

    height: 2.6vh;

    background: #FEE8D9;
}

.tabb1 {
    position: absolute;

    border-right: 1px solid #000;

    border-bottom: 1px solid #000;

    transform: translate(-100%);

    top: 0%;
    left: 93.2%;

    width: 7vw;

    height: 2.6vh;

    background: #FEE8D9;
}

.tabb2 {
    position: absolute;

    transform: translate(-100%);

    top: 36%;
    left: 100%;

    width: 4vw;

    height: 2.6vh;

    background: #ffffff;
}

.tabb3 {
    position: absolute;

    border-top: 1px solid #000;

    transform: translate(-100%);

    top: 66%;
    left: 100%;

    width: 4vw;

    height: 2.6vh;

    background: #FEE8D9;
}

.tabb4 {
    position: absolute;

    transform: translate(-100%);

    border-right: 1px solid #000;

    top: 36%;
    left: 93.2%;

    width: 7vw;

    height: 2.6vh;

    background: #ffffff;
}

.tabb5 {
    position: absolute;

    border-top: 1px solid #000;

    border-right: 1px solid #000;

    transform: translate(-100%);

    top: 66%;
    left: 93.2%;

    width: 7vw;

    height: 2.6vh;

    background: #FEE8D9;
}

.t-tabb{
    position: absolute;

    transform: translate(-50%,-50%);

    top: 50%;
    left: 50%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000; 
}

.tab15{
    top: 105.7%;
    left: 16%;

    background: #FEE8D9;
}

.tab16{
    top: 109.4%;
    left: 16%;

    background: #E6E7E9;
}

.tab17{
    top: 113.1%;
    left: 16%;

    background: #FEE8D9;
}

.tab18{
    top: 116.8%;
    left: 16%;

    background: #E6E7E9;
}

.tab19{
    top: 120.5%;
    left: 16%;

    background: #FEE8D9;
}

.tab20{
    top: 124.2%;
    left: 16%;

    background: #E6E7E9;
}

.tab21{
    top: 127.9%;
    left: 16%;

    background: #FEE8D9;
}

.mig1 {
    position: absolute;

    width: 22.8vw;

    left: 77%;
    top: 30%;
}

.conditions {
    position: absolute;

    top: 65%;
    left: 77%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.7vw;

    color: #000000;
}

.list {
    position: absolute;

    width: 22vw;

    top: 71%;
    left: 77.7%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1vw;

    color: #000000;
}

.space{
    position: absolute;
    left: 5.1%;
}

.ratedPower {
    position: absolute;

    width: 22vw;

    top: 108%;
    left: 77.7%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1vw;

    color: #000000;
}

.structure {
    position: absolute;

    top: 134.3%;
    left: 36%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.7vw;

    color: #000000;
}

.GTS {
    position: absolute;

    top: 140%;
    left: 40.3%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4vw;

    color: #000000;
}

.actuator {
    position: absolute;

    top: 148%;
    left: 16%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000;
}

.ZagDesignFeatures {
    position: absolute;

    top: 156%;
    left: 16%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.17vw;

    color: #000000;
}

.designFeatures {
    position: absolute;

    top: 162.5%;
    left: 17%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000;
}

.biogas {
    position: absolute;

    top: 193%;
    left: 16%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000;
}

.ZagKeyDesignFeatures {
    position: absolute;

    top: 223%;
    left: 16%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.17vw;

    color: #000000;
}

.keyDesignFeatures {
    position: absolute;

    width: 36vw;

    top: 229%;
    left: 16%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000;
}

.space1{
    position: absolute;

    left: 3.4%;
}

.mig2 {
    position: absolute;

    width: 20vw;

    left: 67%;
    top: 233%;
}

.tab2-1{
    top: 278%;
    left: 16%;

    background: #FF8C3C;
}

.tab2-2{
    top: 281.7%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-3{
    top: 285.4%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-4{
    top: 289.1%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-5{
    top: 292.8%;
    left: 16%;

    height: 5.5vh;

    background: #FEE8D9;
}

.center{
    text-align: center;
}

.tab2-6{
    top: 299.4%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-7{
    top: 303.1%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-8{
    top: 306.8%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-9{
    top: 310.5%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-10{
    top: 314.2%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-11{
    top: 317.9%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-12{
    top: 321.6%;
    left: 16%;

    height: 5.5vh;

    background: #E6E7E9;
}

.tab2-13{
    top: 328.2%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-14{
    top: 331.9%;
    left: 16%;

    height: 5.5vh;

    background: #E6E7E9;
}

.tab2-15{
    top: 338.5%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-16{
    top: 342.2%;
    left: 16%;

    height: 10.96vh;

    background: #E6E7E9;
}

.tabb2-1 {
    position: absolute;

    border-right: 1px solid #000;

    border-bottom: 1px solid #000;

    transform: translate(-100%);

    top: 0%;
    left: 93.2%;

    width: 7vw;

    height: 2.6vh;

    background: #FEE8D9;
}

.tabb2-2 {
    position: absolute;

    border-bottom: 1px solid #000;

    transform: translate(-100%);

    top: 0%;
    left: 100%;

    width: 4vw;

    height: 2.6vh;

    background: #FEE8D9;
}

.tabb2-3 {
    position: absolute;

    border-right: 1px solid #000;

    transform: translate(-100%);

    top: 25.4%;
    left: 93.2%;

    width: 7vw;

    height: 2.6vh;

    background: #ffffff;
}

.tabb2-4 {
    position: absolute;

    transform: translate(-100%);

    top: 25.4%;
    left: 100%;

    width: 4vw;

    height: 2.6vh;

    background: #ffffff;
}

.tabb2-5 {
    position: absolute;

    border-right: 1px solid #000;
    border-top: 1px solid #000;

    transform: translate(-100%);

    top: 49.1%;
    left: 93.2%;

    width: 7vw;

    height: 2.6vh;

    background: #FEE8D9;
}

.tabb2-6 {
    position: absolute;

    border-top: 1px solid #000;

    transform: translate(-100%);

    top: 49.1%;
    left: 100%;

    width: 4vw;

    height: 2.6vh;

    background: #FEE8D9;
}

.tabb2-7{
    position: absolute;
    
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

    transform: translate(-100%);

    top: 73.8%;
    left: 93.2%;

    width: 7vw;

    height: 2.6vh;

    background: #ffffff;
}

.tabb2-8{
    position: absolute;
    
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    transform: translate(-100%);

    top: 73.8%;
    left: 100%;

    width: 4vw;

    height: 2.6vh;

    background: #ffffff;
}

.ttt{
    font-size: 1.05vw;
    text-wrap: nowrap;
}

.tab2-17{
    top: 354.37%;
    left: 16%;

    height: 10.96vh;

    background: #FEE8D9;
}

.color{
    background: #E6E7E9;
}

.tab2-18{
    top: 366.54%;
    left: 16%;

    height: 5.5vh;

    background: #E6E7E9;
}

.tab2-19{
    top: 373.14%;
    left: 16%;

    height: 5.5vh;

    background: #FEE8D9;
}

.tab2-20{
    top: 379.74%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-21{
    top: 383.44%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-22{
    top: 387.14%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-23{
    top: 390.84%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-24{
    top: 394.54%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-25{
    top: 398.24%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-26{
    top: 401.94%;
    left: 16%;

    background: #E6E7E9;
}

.tabb4-1{
    position: absolute;

    transform: translate(-50%);
    left: 50%;
    top: 140%;

    background: #FEE8D9;

    width: 47vw;
    height: 2.6vh; 
}

.tabb4-2{
    position: absolute;

    transform: translate(-50%);
    left: 50%;
    top: 280%;

    background: #E6E7E9;

    width: 47vw;
    height: 2.6vh; 
}

.tabb4-3{
    position: absolute;

    transform: translate(-50%);
    left: 50%;
    top: 420%;

    background: #FEE8D9;

    width: 47vw;
    height: 2.6vh; 
}

.tabb4-4{
    position: absolute;

    transform: translate(-50%);
    left: 50%;
    top: 560%;

    background: #E6E7E9;

    width: 47vw;
    height: 2.6vh; 
}

.t-centr{
    position: absolute;

    transform: translate(-50%,-50%);

    top: 50%;
    left: 50%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000;

    text-wrap: nowrap;
}

.tab2-27{
    top: 420.4%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-28{
    top: 424.1%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-29{
    top: 427.9%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-30{
    top: 431.6%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-31{
    top: 435.3%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-32{
    top: 439%;
    left: 16%;

    background: #E6E7E9;
}

.tab2-33{
    top: 442.7%;
    left: 16%;

    background: #FEE8D9;
}

.tab2-34{
    top: 446.4%;
    left: 16%;

    background: #E6E7E9;
}

.complianceWithTheRange{
    position: absolute;

    top: 451%;
    left: 16%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.17vw;

    color: #000000;
}

.mig3{
    position: absolute;

    width: 20vw;

    top: 278%;
    left: 78.1%;
}

.mig4{
    position: absolute;

    width: 20vw;

    top: 425%;
    left: 78.1%;
}










.gl {
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 2vh;
    font-style: normal;
    font-weight: 100;

    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;

    white-space: nowrap;
}

.footer {
    position: fixed;

    background-color: #FF6900;
    border: 1px solid #000000;

    width: 99.9%;
    height: 7vh;

    top: 100%;

    transform: translate(0,-100%);
}

.cont {
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 2vh;
    font-style: normal;
    font-weight: 400;

    top: 17%;
    left: 1%;
}

.uni{
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 1.7vh;
    font-style: normal;
    font-weight: 400;

    top: 49%;
    left: 1%;
}

.d-tel1{
    position: absolute;

    width: 17.2vh;
    height: 4vh;

    left: 21%;
    top: 20%;
}

.tel1 {
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 1.7vh;
    font-style: normal;
    font-weight: 400;
}

.tel2 {
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 1.7vh;
    font-style: normal;
    font-weight: 400;

    
    transform: translate(-50%);
    left: 50%;
    white-space: nowrap;
    top: 50%;   
}

.adres {
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 1.7vh;
    font-style: normal;
    font-weight: 400;

    left: 50%;
    transform: translate(-50%);
    top: 20%;
}

.d-manager{
    position: absolute;

    width: 18.6vh;
    height: 4vh;

    left: 71%;
    top: 20%;
}

.manager {
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 2vh;
    font-style: normal;
    font-weight: 400;

    transform: translate(-50%);
    left: 50%;

    white-space: nowrap;
}

.Alecksey {
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 2vh;
    font-style: normal;
    font-weight: 400;

    top: 50%;
}
.alecksey{
    position: absolute;
    width: 7.3vh;
    height: 100%;

    background-image: url(img/aleksey.png);
    background-size: 100%;
    background-repeat: round;

    transform: translate(-100%,-100%);
    transition: 0.2s;
    top: 100.3%;
    left: 100.02%;
}

.alecksey:hover{
    width: 5vw;
    height: 13vh;
    background-image: url(img/aleksey1.png);
}

.tel3 {
    position: absolute;

    color: #FFF;

    font-family: 'Rubik', sans-serif;

    font-size: 1.7vh;
    font-style: normal;
    font-weight: 400;

    top: 20%;
    left: 86%;
}

.menu{

    width: 14.8vw;
    
}

.lopost{
    position: fixed;
    width: 14.8vw;
    height: 98vh;

    z-index: -2;
}

.r-10{
    width: 13.5vw; height: 5.7vh; filter: blur(15px);
}
.r-11{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 40%;

    transition: 0.4s;
    z-index: -1;
}
.r-12{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 45.5%;

    z-index: -1;
    transition: 0.4s;
}
.r-13{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 51%;

    z-index: -1;
    transition: 0.4s;
}
.r-14{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 56.5%;

    z-index: -1;
    transition: 0.4s;
}
.r-15{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 62%;

    z-index: -1;
    transition: 0.4s;
}
.r-16{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 67.5%;

    z-index: -1;
    transition: 0.4s;
}
.r-17{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 73%;

    z-index: -1;
    transition: 0.4s;
}
.r-18{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 78.5%;

    z-index: -1;
    transition: 0.4s;
}
.r-19{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: rgba(255, 184, 0, 1);

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 84%;

    z-index: -1;
    transition: 0.4s;
}


#r-1{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #C1C1C1;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 40%;

    transition: 0.2s;
}
#r-2{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #C1C1C1;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 45.5%;

    transition: 0.2s;
}
#r-3{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #C1C1C1;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 51%;

    transition: 0.2s;
}
#r-4{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 56.5%;

    transition: 0.2s;
}
#r-5{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #C1C1C1;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 62%;

    transition: 0.2s;
}
#r-6{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #C1C1C1;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 67.5%;

    transition: 0.2s;
}
#r-7{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #C1C1C1;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 73%;

    transition: 0.2s;
}
#r-8{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #C1C1C1;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 78.5%;

    transition: 0.2s;
}
#r-9{
    position: fixed;
    width: 11.5vw;
    height: 3.7vh;

    border-radius: 10px;
    border: 2.5px solid #000;
    background: #C1C1C1;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 84%;

    transition: 0.2s;
}

#d-1{
    position: fixed;
    width: 12.5vw;
    height: 4vh;

    border-radius: 10px;
    border: 4px solid #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 43%;

    z-index: -1;
}
#d-2{
    position: fixed;
    width: 12.5vw;
    height: 4vh;

    border-radius: 10px;
    border: 4px solid #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 48.5%;

    z-index: -1;
}
#d-3{
    position: fixed;
    width: 12.5vw;
    height: 4vh;

    border-radius: 10px;
    border: 4px solid #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 54%;

    z-index: -1;
}
#d-4{
    position: fixed;
    width: 12.5vw;
    height: 4vh;

    border-radius: 10px;
    border: 4px solid #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 59.5%;

    z-index: -1;
}
#d-5{
    position: fixed;
    width: 12.5vw;
    height: 4vh;

    border-radius: 10px;
    border: 4px solid #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 65%;

    z-index: -1;
}
#d-6{
    position: fixed;
    width: 12.5vw;
    height: 4vh;

    border-radius: 10px;
    border: 4px solid #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 70.5%;

    z-index: -1;
}
#d-7{
    position: fixed;
    width: 12.5vw;
    height: 4vh;

    border-radius: 10px;
    border: 4px solid #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 76%;

    z-index: -1;
}
#d-8{
    position: fixed;
    width: 12.5vw;
    height: 4vh;

    border-radius: 10px;
    border: 4px solid #FF6900;

    transform: translate(-50%,-50%);
    left: 7.3%;
    top: 81.5%;

    z-index: -1;
}

.logo{
    position: fixed;

    width: 12vw;

    z-index: 3;

    margin: 0;
    top: 3%;
    left: 7.3%;
    transform: translate(-50%);
}


.loposti{
    position: fixed;

    width: 10.7vw;

    margin: 0;

    top: 4.1%;
    left: 1.7%;
    transform: translate(-50%);
    z-index: 1;
    animation: rotation 10s infinite;
    animation-timing-function: linear;
}
.vector{
    position: fixed;

    width: 11.47vw;
    height: 12.6vw;

    z-index: 0;

    margin: 0;
    top: 3.15%;
    left: 7.3%;
    transform: translate(-50%);
}

.f-his{
    position: absolute;
    z-index: -3;
    width: 88%;

    transform: translate(-100%);
    left: 100%;

    height: 100%;
}

@keyframes rotation{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@media (max-height: 567px){
    #r-1{border-radius: 6px;}
    #r-2{border-radius: 6px;}
    #r-3{border-radius: 6px;}
    #r-4{border-radius: 6px;}
    #r-5{border-radius: 6px;}
    #r-6{border-radius: 6px;}
    #r-7{border-radius: 6px;}
    #r-8{border-radius: 6px;}
    #r-9{border-radius: 6px;}
}
